extends ../layout

block content
    script( defer src="/javascripts/product.js" )

    form.col-md-12
        .form-group
            label(for='productTitle') Название
            input#productTitle.form-control(placeholder='Введите название')
        .form-group
            label(for='productPrice') Цена
            input#productPrice.form-control(placeholder='Введите цену')
        .custom-file
            input#productImage.custom-file-input(type='file')
            label.custom-file-label(for='productImage') Добавить изображение
        .form-group
            label Файл:
        .form-group
            label(for='categoriesSelect') Категории
            select#categoriesSelect.form-control( multiple )
                each category in categories
                    option(
                        value=category.categoryID
                        data-category-id=category.categoryID
                    ) #{category.categoryTitle}
        .form-group
            label(for='attributesSelect') Атрибуты
            select#attributesSelect.form-control
                option(value=-1) Выбрать атрибут
                each attribute in attributes
                        option(
                            value=attribute.attributeID
                            data-attribute-id=attribute.attributeID
                        ) #{attribute.attributeTitle}
        .form-group
            label(for='currentAttributeValue') Значение атрибута
            input#currentAttributeValue.form-control(placeholder='Введите значение')
        .form-group
            .btn.btn-primary#addAttributeValue
                | Добавить атрибут
        .form-group
            label(for='productAttributes') Список установленных атрибутов
            table.table
                thead
                    tr(align="middle")
                        th(scope='col') #
                        th(scope='col') Название
                        th(scope='col') Значение
                        th(scope='col') Удалить
                tbody#productAttributes

        .form-group
            label(for='productDescription') Описание
            textarea#productDescription.form-control(placeholder='Введите описание')
        .form-group
            #message.alert.alert-danger(style="display: none")

        #addProductButton.btn.btn-primary Добавить товар